body {
  background-color: aliceblue;
}

header {
  background-color: aquamarine;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

nav {
  display: flex;
  gap: 10px;
}

footer {
  padding: 10px;
  text-align: center;
}

.section-title {
  color: bisque;
  font-size: 12px;
}
